body,
html {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333;
    background-color: #fcfcfc;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 2.5rem;
    text-align: center;
    /* Center the header */
}

.phase-form-container {
    margin-bottom: 30px;
    margin-left:15px;
    display: flex;
    justify-content: flex-start;
    /* Center the form container */
}

.phase-form-row {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    column-gap: 150px;
    margin-left: 10px;
}

.phase-form-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 40px; /* Adds space between label and input */
    margin-bottom: 12px;
}
.phase-form-group label {
    flex-basis: 100px; 
    text-align: right; 
}

.phase-form-group input,
.phase-form-group select {
    flex: 1; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 250px;
}
.phase-form-group input[type="checkbox"] {
    flex: 0; 
}
.phase-button-group {
    display: flex;
    margin-top: 20px;
    margin-left: 27px;
    gap: 10px;
}

.phase-button-group .btn {
    background-color: #4a4a4a;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Georgia', serif;
}

.phase-button-group .btn:hover {
    background-color: #333;
}

.phase-button-group .btn-delete {
    background-color: #4a4a4a;
}

.phase-button-group .btn-delete:hover {
    background-color: #333;
}

.phase-table-container {
    overflow-x: auto;
    width: 100%;
    margin: 0 auto;
    max-width: 1445px;
}

#phaseTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ddd;
    table-layout: fixed;
}

#phaseTable th,
#phaseTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dad8d8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#phaseTable th {
    background-color: #e1e0e0;
    font-weight: bold;
}

#phaseTable tr:nth-child(even) {
    background-color: #f8f8f8;
}

#phaseTable tr:hover {
    background-color: #efeded;
}

#phaseTable .btn-select {
    background-color: #4a4a4a;
    color: white;
    white-space: nowrap;
}

#phaseTable .btn-select:hover {
    background-color: #333;
}

@media (max-width: 768px) {
    .phase-form-row {
        flex-wrap: wrap;
    }

    .phase-form-group {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .phase-button-group {
        flex-direction: column;
    }

    .phase-button-group .btn {
        width: 100%;
        margin-bottom: 10px;
    }
}
